jupyter==1.0.0
pandas==1.0.0
altair==4.0.1
numpy==1.18.1
selenium==3.141.0
tabula-py
beautifulsoup4
lxml
xlrd
sos
sos-python
sos-notebook
sos-bash
sos-r
sos-pbs
jupyter_contrib_nbextensions
soupsieve
feather-format
pyarrow
distro
python-dateutil
