jupyter==1.0.0
pandas==1.0.0
altair==4.1.0
numpy==1.18.1
selenium==3.141.0
altair_saver
tabula-py
beautifulsoup4
lxml
xlrd
sos==0.21.13
sos-python==0.18.4
sos-notebook==0.21.18
sos-bash==0.20.0
sos-r==0.19.6
sos-pbs==0.20.7
jupyter_contrib_nbextensions
soupsieve
feather-format
pyarrow
distro
joblib
python-dateutil
