jupyter==1.0.0
nbconvert==6.4.4
pandas==1.4.1
altair==4.2.0
numpy==1.21.0
selenium==3.141.0
altair_saver
tabula-py
beautifulsoup4
lxml
xlrd
openpyxl
sos==0.21.5
sos-python==0.18.4
sos-notebook==0.23.1
sos-bash==0.20.0
jupyter_contrib_nbextensions
soupsieve
feather-format
pyarrow
distro
joblib
python-dateutil
